{% extends "base.html" %}

{% block content %}
    {% include 'partials/modals/group_mgmt.html' %}
    {% include 'partials/modals/transaction.html' %}
    {% include 'partials/modals/move_money.html' %}
    {% include 'partials/modals/bill.html' %}
    {% include 'partials/modals/pocket.html' %}

    {% include 'partials/navigation.html' %}
    {% include 'partials/header.html' %}

    <div class="main-grid">
        <div class="main-column">
            {% include 'partials/views/activity.html' %}
            {% include 'partials/views/pockets.html' %}
            {% include 'partials/views/expenses.html' %}
            {% include 'partials/views/family.html' %}
            {% include 'partials/views/cards.html' %}
            {% include 'partials/views/credit.html' %}
            {% include 'partials/views/splitwise.html' %}
            {% include 'partials/views/account.html' %}
        </div>
        {% include 'partials/sidebar.html' %}
    </div>

    {% include 'partials/advisor_fab.html' %}
    {% include 'partials/modals/app_dialog.html' %}
{% endblock %}
